* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px, solid, red; */
}

:root {
    --color-blue: #050647;
    --color-grey: rgb(200, 200, 200);
    --color-white: rgb(222, 222, 222);
    --color-black: rgb(22, 22, 22);
}

html {
    background-color: var(--color-blue);
}

body {
    margin: 0 auto;
    width: 80%;
}

h1,
h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3rem 0;

    color: var(--color-white);
    text-align: center;
}

form {
    background-color: var(--color-grey);
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: 5px 5px 50px var(--color-black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

ul {
    list-style-type: none;

    display: flex;
    gap: 5rem;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    padding: 1rem;
    border-radius: 5rem;
    width: 300px;
    border: 0;
}

button {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 0;
    border-radius: 5rem;
}

/* ticket */
.ticket {
    background-color: var(--color-grey);
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: 5px 5px 50px var(--color-black);
}

h3 {
    background-color: var(--color-white);
    padding: 1.5rem 2.5rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

hr {
    border: 1px, dashed, var(--color-blue);
    margin: 1rem 0;
}

.display-none {
    display: none;
}

.ticket_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 1rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.ticket_info_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

/* responsive < 1440px */
@media screen and (max-width: 1440px) {

    ul {
        list-style-type: none;
    
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .ticket_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-white);
        padding: 1rem;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }

}